
.dash-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
  .userinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20%;
    align-items: center;
    img{
      height: auto;
      width: 60%;
      border-radius: 50%;
      margin: 25px;
      margin-left: auto;
      vertical-align:bottom;
    }
    .details{
      h1{
        text-align: center;
      }
      .dashboard-btn{
        display: inline-flex;
        p{
          padding-right: 10px;
        }
      }
    }

  }
  .carousel{
    padding-left: 30px;
    flex: 1;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .sticky {
      position: sticky;
      top: 0;
      left: 0;
      font-weight: 600;
      font-size: 25px;
    }
    .meal-card {
      border-radius: 16px;
      display: inline-block;
      overflow: hidden;
      background: white;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      max-width: 40rem;
      margin-left: 10px;
      width: 30%;
      .photo {
        height: 200px;
        width: 100%;
        max-width: 400px;
        object-fit: cover;
      }
      p {
        font-size: 12px;
        opacity: .7;
        margin: 0;
        padding: 5px;
      }
      h2{
        padding: 5px;
      }

    }

  }

}

.carousel::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
