// Import page-specific CSS files here.
@import "home";
@import "show";
@import "dashboard";
@import "new";

.backgroundcolour {

  background-color: #F5D4C1;
  padding: 10px;
}
.index-container{
  background-color: #F5D4C1;
}
.contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;

  .banner{
    display: flex;
    background-color: transparent;
    flex: 1;


    #map{
      height: 50vh;
      width: 100%;
      border-radius: 15px;
      margin: auto;
      margin-top: 10px;

    }
  }
  .carousel{
    padding-left: 30px;
    flex: 1;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .sticky {
      position: sticky;
      top: 0;
      left: 0;
    }
    .meal-card {
      border-radius: 16px;
      display: inline-block;
      overflow: hidden;
      background: white;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      max-width: 40rem;
      margin-left: 10px;
      width: 30%;
      .photo {
        height: 200px;
        width: 100%;
        // max-width: 400px;
        object-fit: cover;
      }
      p {
        font-size: 12px;
        opacity: .7;
        margin: 0;
        padding: 5px;
      }
      h2{
        padding: 5px;
      }

    }

  }
}
// .carousel::-webkit-scrollbar {
//   display: none; /* for Chrome, Safari, and Opera */
// }
