.container2 {
  background-image: linear-gradient(#DDE5EB, #FFAC4B, white);
}
.mealformcont {
  align-items: center;

  .form {
    text-align: center;
    width:600px;
    padding:20px;
    margin-bottom: 30px;
  }
  .btn-create {
    width: 50%;
    height: 50px;
    background-color: white;
    border: 1px solid #4A4A4A;
    border-radius: 50px;
    margin-top: 30px;
  }
}
