.container {
  justify-content: center;

  .form {
  text-align: center;
  width:600px;
  padding:20px;
  }
}

.btn-create {
  align-items: center;
  width: 50%;
  background-color: white;
  border: 1px solid #4A4A4A;
  padding: 8px 30px;
  border-radius: 50px;
}
