.flexbox {
  border-radius: 15px;
  margin-top: 50px;
  background-color: #F5D4C1;
  display: flex;
  // box-shadow: 0 0 8px rgba(0,0,0,0.2);
  .item1 {
    margin-top: 50px;
    flex: 1;
    padding-left: 50px;
    padding-right: 5px;
    justify-content: center;
    .details{
      font-size: small;
    }
    .photo{
      width: 100%;
      height: 300px;
      border-radius: 15px;
      object-fit: cover;
    }

  }

  .item2 {
    padding-left: 5px;
    margin-top: 50px;
    flex: 1;
    padding-right: 50px;
    .map{
      width: 100%;
      height: 300px;
      border-radius: 15px;
    }
  }
}

.container {
  background-color: #F5D4C1;
}
