  <div class="banner w-100">
    <div class="container3 d-flex justify-content-center">
      <div class="banner-left d-flex align-items-center justify-content-center">
        <%= link_to 'Pick your Meal', meals_path, class:"btn-banner p-20"%>
      </div>
      <div class="banner-right d-flex align-items-center justify-content-center">
        <%= link_to 'Post your Meal', new_meal_path, class:"btn-banner p-20"%>
      </div>
    </div>
  </div>

  <div class="row2">
    <div class="d-flex col-12 flex-column justify-content-center align-items-center">
      <h2>It is all about sharing!</h2>
      <div class="align-items-center">
        <h4 style="text-align:center;">1.</h4>
        <p>Enter your surplus food with portion size in the app.</p>
      </div>
      <div>
        <h4 style="text-align:center;">2.</h4>
        <p>Users discover your meals and book via the app.</p>
      </div>
      <div class="align-items-center">
        <h4 style="text-align:center;">3.</h4>
        <p>Customers pick up the food on site at the time you specify.</p>
      </div>
      <div class="btn-homepage justify-content-center">
      <%= link_to 'Dashboard', meals_path %>
      </div>
    </div>
  </div>
  <div class="row3">
    <div class="d-flex col-12 flex-column justify-content-center align-items-center">
      <div class="align-items-center p-5">
        <h4 style="text-align:center;">Do I have to provide my own packaging?</h4>
        <p>Although we encourage our users to bring their own containers or bags, they often need packaging you provide to take the rescued food with them. If you already have any suitable for this purpose, feel free to use them. If you are based in Germany, you can also purchase Too Good To Go bags through us. The Too Good To Go team will be happy to give you more information.
        </p>
      </div>
      <div class="align-items-center p-5">
        <h4 style="text-align:center;">What advantages does this have for my business?</h4>
        <p>With the Too Good To Go app you can reduce your surplus groceries and get money back for goods that would otherwise have been thrown away - a win-win situation. In addition, the app helps you to address new customers. This not only creates the opportunity to sell additional products on site - 76 percent come back as regular customers.
        </p>
      </div>
      <div class="btn-homepage justify-content-center">
      <%= link_to 'Sign Up', new_user_registration_path %>
      </div>
    </div>
</div>
