<h2><%= link_to meal.name, meal_path(meal) %></h2>
<p><%= meal.address %></p>
<%= link_to 'Navigate me here!', "https://www.google.com/maps/dir/?api=1&destination=#{meal.latitude}%2C#{meal.longitude}&dir_action=navigate" %>
