.card {
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  a {
    color: white;
    width: 60%;
    line-break: normal;
  }
}

.cardbody{
  display: inline-block;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-height: 200px;
}

.card-meal-image > img {
  height: 100px;
  width: 100%;
  object-fit: fill;
}

.card-meal h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-meal p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-meal .card-meal-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-meal-infos{
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// /*Media Queries*/

// /*Smallest device*/
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
//   #map {
//     display: none;
//   }
// }

// /*Small devices (landscape phones, 576px and up)*/
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
//   #map {
//     display: none;
//   }
// }

// /*Medium devices (tablets, 768px and up)*/
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
//   #map {
//     display: block;
//   }
