.card {
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  a {
    color: white;
  }
}

.content {
  display: flex;
}
.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
  padding: 0 80px;
}

#map {
  height: 95vh;
  width: 50%;
  position: sticky;
  top: 0;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}
