.container {
  font-family: facultadregular,Georgia,sans-serif;
  font-size: 30px;
}

.row1 {
  display: flex;
  height: 100vh;
  color:black !important;
  text-decoration:none;
}

.row2 {
  display:flex;
  height: 100vh;
  background-color: #DED2F9;
}

.row3 {
  display: flex;
  height:100vh;
  background-color: #F5D4C1;
}

.nav-link {
  color: black;
}
