.homepage-container {
  padding-left: 62px;
  padding-right: 62px;
}

.container3 {
  font-family: raleway;
  font-size: 25px;
  font-style: bold;
  background-color: white;
}

.body {
  background-color: white;
}

.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #C9EAFD;
}

.row3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F5D4C1;
}

p {
  font-family: raleway;
}

.btn-banner {
  background-color: white;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.banner {
  height: 100vh;
  background-color: white;
}

.banner .container {
  height: 100%;
}
.banner-left {
  background-image: url('fladenbrot_1.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  flex-grow: 1;
  height: 100vh;
  margin-right: 2px;
}

.banner-right {
  background-image: url('fladenbrot_2.png');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  flex-grow: 1;
  height: 100vh;
  margin-left: 2px;
}

.btn-homepage {
  background-color: white;
  padding: 3px;
  border: 1px solid #4A4A4A;
  padding: 8px 30px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  width: 15%;
  text-align: center;
}
