.navbar-container {
  padding-left: 62px;
  padding-right: 62px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #DDE5EB;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-brand{
 font-family: "Raleway";
 font-weight: 800;
 font-style: italic;
 font-size: 2em;

}

.search-button {
  margin-left: -4px;
  background-color: white;
  font-family: raleway;
}

.search-bar {
  border-radius: 5px;
  font-family: raleway;
}

.nav-link {
  font-family: raleway;
}
